
<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">

    <!-- empieza toolbar-->
    <mat-toolbar color="accent" class="dashboard-toolbar" >
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
       
        <img src="https://img.freepik.com/vector-premium/logotipo-letras-inglesas-abc-o-icono-cursos-escolares-aprendizaje-ninos-dibujos-animados-planos-clase-idioma-infantil_101884-1372.jpg" width="128" style="margin-left: 20px">        
        <h1 class="app-name">El ABC del saber</h1>

        <div class="right">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <mat-icon>exit_to_app</mat-icon>
                        Cerrar Sesión
                    </mat-menu>
                </li>
            </ul>
        </div>

    </mat-toolbar>

    <!-- empieza sidenav-->
    <mat-sidenav-container class="sidenav-container"
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav #snav [mode]="mobileQuery.matches? 'over': 'side'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened="true" style="width: 200px">
            
       
                    <img src="https://www.iconpacks.net/icons/1/free-user-group-icon-296-thumb.png" width="128" style="margin-left: 20px;">        
            
                <mat-nav-list>
                    
                    <!--profile-->
                    <div class="profile-card">
                        <div class="header">
                            <h2>Alfredo Leal</h2>
                            <h4>alfredo.leal.pino@gmail.com</h4>
                        </div>
                    </div>

                    <mat-divider></mat-divider>
                    <button mat-menu-item routerLink="/pages/inicio" style="cursor: pointer" >
                        <mat-icon class="icono">dashboard icon</mat-icon>
                        <span>Inicio</span>
                    </button>
                    <button mat-menu-item routerLink="/pages/cursos" style="cursor: pointer" >
                        <mat-icon class="icono">subject icon</mat-icon>
                        <span>Mis cursos</span>
                    </button>
                    <button mat-menu-item routerLink="/pages/calificaciones" style="cursor: pointer" >
                        <mat-icon class="icono">note</mat-icon>
                        <span>Mis calificaciones</span>
                    </button>
                    <button mat-menu-item routerLink="/pages/horario" style="cursor: pointer" >
                        <mat-icon  class="icono">calendar_today</mat-icon>
                        <span>Mis horarios</span>
                    </button>

                    <button mat-menu-item  style="cursor: pointer" >
                        <mat-icon class="icono">notification_important</mat-icon>
                        <span>Notificaciones</span>
                    </button>
                    <button mat-menu-item routerLink="/pages/usuario" style="cursor: pointer" >
                        <mat-icon class="icono">account_box</mat-icon>
                        <span>Mi perfil</span>
                    </button>

                    <button mat-menu-item routerLink="/login" style="cursor: pointer" >
                        <mat-icon class="icono">logout</mat-icon>
                        <span>Cerrar Sesion</span>
                    </button>

                </mat-nav-list>

            </mat-sidenav> 

            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>

    </mat-sidenav-container>
</div>

