<mat-sidenav #sidenav position="end" style="width: 200px" mode="push">
    <!--<button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/buscar" style="cursor: pointer">
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/consulta" style="cursor: pointer">
        <mat-icon>insert_drive_file</mat-icon>
        <span>Registrar</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/consulta-especial" style="cursor: pointer">
        <mat-icon>insert_drive_file</mat-icon>
        <span>Registrar E.</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/consulta-wizard" style="cursor: pointer">
        <mat-icon>view_carousel</mat-icon>
        <span>Registrar W.</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/especialidad" style="cursor: pointer">
        <mat-icon>star_rate</mat-icon>
        <span>Especialidades</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/medico" style="cursor: pointer">
        <mat-icon>healing</mat-icon>
        <span>Médicos</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/examen" style="cursor: pointer">
        <mat-icon>assignment</mat-icon>
        <span>Examenes</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/paciente" style="cursor: pointer">
        <mat-icon>accessibility</mat-icon>
        <span>Pacientes</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/reporte" style="cursor: pointer">
        <mat-icon>assessment</mat-icon>
        <span>Reportes</span>
    </button>
    <mat-divider></mat-divider>-->
  </mat-sidenav>